body {
	font-family: "Microsoft Yahei", Verdana, Simsun, "Segoe UI Light", "Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Light", "Helvetica Neue", Arial;
	font-size: 13px;
	height: 100%;
	word-wrap: break-word;
}

html {
	height: 100%;
}

img
{
	max-width:none;
}

.control-group {
	clear: both;
}

.control-group .controls label {
	display: inline;
}

.control_book {
	padding-top: 5px;
}

.container-fluid {
	padding: 0px;
}

.control-upload {

}

.control-upload_div
{
	margin-bottom:10px;
}


.control-upload ul li {
	margin-right: 10px;
	float: left;
	list-style-type: none;
	text-align: center;
}

.control-upload-image {
	border: solid 1px #008A17;
	padding: 5px;
}

.control-upload-delete {
	margin-top: 5px;
}

.control-upload img {
	max-width: 100px;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
	margin-bottom: 5px;
}

.progress-animated .progress-bar, .progress-animated .bar {
	background: url(../img/progressbar.gif) !important;
	filter: none;
}

.fileupload-loading {
	float: right;
	width: 32px;
	height: 32px;
	background: url(../img/loading.gif) center no-repeat;
	background-size: contain;
	display: none;
}

.fileupload-processing .fileupload-loading {
	display: block;
}

.files audio, .files video {
	max-width: 300px;
}

@media (max-width: 767px) {
	.fileupload-buttonbar .toggle, .files .toggle, .files .btn span {
		display: none;
	}
	.files .name {
		width: 80px;
		word-wrap: break-word;
	}
	.files audio, .files video {
		max-width: 80px;
	}
}

.zab_home_home_body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.zab_home_home_box {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
}

.zab_home_home_top {
	background-color: #008A17;
	color: #fff;
	height: 40px;
	font-size: 14px;
	overflow: hidden;
}

.zab_home_home_top .c_site {
	width: 190px;
	text-indent: 30px;
	font-size: 16px;
}

.zab_home_home_top .c_nav li a {
	display: inline-block;
	padding: 0px 15px 0px 15px;
}

.zab_home_home_top .c_nav li.c_active a {
	background-color: #006a11;
}

.zab_home_home_top, .zab_home_home_top li {
	line-height: 40px;
}

.zab_home_home_top a {
	color: #fff;
}

.zab_home_home_top .c_right {
	margin-right: 20px;
	font-size: 12px;
}

.zab_home_home_left {
	background-color: #F0F0F0;
	width: 180px;
	float: left;
}

.zab_home_home_left .c_title {
	font-size: 24px;
	text-indent: 10px;
	color: #444;
	height: 40px;
	line-height: 40px;
}

.zab_home_home_left .c_box {
	padding: 10px 10px 0px 10px;
}

.zab_home_home_left .c_box input {
	width: 140px;
}

.zab_home_home_left .c_bottom {
	position: absolute;
	bottom: 0px;
	height: 30px;
	text-align: center;
	color: #999;
	width: 100%;
}

.zab_home_home_left .w_ullist li {
	width: 100%;
	min-height: 30px;
	line-height: 30px;
}

.zab_home_home_left .c_header {
	text-indent: 20px;
}

.zab_home_home_left .w_ullist li a {
	width: 100%;
	display: block;
	line-height: 30px;
	text-indent: 40px;
	color: #444;
}

.zab_home_home_left .w_ullist li.c_active   a, .zab_home_home_left .w_ullist li.c_active   a:hover {
	background-color: #cdcdcd;
}

.zab_home_home_left .w_ullist li a:hover {
	background-color: #e7e7e7;
}

.zab_home_home_right {
	overflow: hidden;
	min-width: 600px;
}

.zab_home_home_main {
	position: absolute;
	top: 40px;
	right: 0px;
	left: 0px;
	bottom: 0px;
}

.zab_page_default_body {
	width: 97%;
	margin-left: 2%;
}

.zab_page_windowtree_buttons {
	margin: 30px;
	text-align: center;
}

.zw_page_common_data .pagination_label {
	float: right;
	margin-right: 30px;
}

.zw_page_common_data table tr th {
	text-align: center;
	line-height: 30px;
}

.zw_page_common_data table tr td {
	text-indent: 3px;
	line-height: 25px;
}

.zw_page_tree_left {
	width: 30%;
	float: left;
}

.zw_page_tree_right {
	width: 65%;
	float: right;
}

.zw_page_tree_box {
	margin-top: 30px;
}

.zw_page_upload_iframe {
	height: 50px;
	width: 200px;
}

.zab_manage_login_body {
	padding-top: 40px;
	padding-bottom: 40px;
}


.zab_manage_login_body .c_login_header
{
	height:64px;
	position: relative;
	
}

.zab_manage_login_body .c_login_logo
{
	width:146px;
	height:40px;
	background-image: url("../img/login/logo.jpg");
}

.zab_manage_login_body  .w_ul li
{
	padding:0px 10px 0px 20px;
	
}
.zab_manage_login_body  .w_ul li a,.c_login_footer
{
	color:#959595;
}


.zab_manage_login_body .c_login_bg {
	background-color: #295487;
	height: 600px;
	background-image: url("../img/login/login_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.zab_manage_login_body .c_login_width {
	width: 1000px;
}

.zab_manage_login_body .c_login_center {
	position: relative;
}

.zab_manage_login_body .c_login_sign {
	width: 340px;
	height: 400px;
	margin-left: 600px;
	position: relative;
}

.zab_manage_login_body .c_login_fix {
	
	
	width:100%;
	height:100%;
	position: relative;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.zab_manage_login_body .c_login_info
{
	width:300px;
	height:100%;
	padding:20px;
	position:absolute;
	top:0px;
	left:0px;
}

.zab_manage_login_body .c_login_title
{
	font-size: 21px;
	border-bottom: solid 1px #de0816;
	line-height: 30px;
	height:40px;
	color:#333;
}
.zab_manage_login_body .c_login_pos
{
	height:320px;
}

.zab_manage_login_body .c_login_desc
{
	color:#555;
}
.zab_manage_login_body .c_login_version
{
	border-top: solid 1px #de0816;
	padding-top:10px;color:#555;
}


.zab_manage_login_body .c_login_text {
	width: 200px;
	padding: 7px 9px;
}

.zab_manage_login_body .c_login_box {

}

