/*通用定义样式*/
.w_display {
	display: none;
}

.w_none {
	display: none !important;
}

.w_clear, .w_c {
	clear: both;
}

.w_left, .w_fl {
	float: left;
}
.w_right, .w_fr {
	float: right;
}

.w_m_auto {
	margin: 0px auto;
}

.w_mt_15
{
	margin-top:15px;
}

.w_mt_20
{
	margin-top:20px;
}
.w_mt_30
{
	margin-top:30px;
}


.w_al_center {
	text-align: center;
}

.w_h_40 {
	height: 40px;
}

.w_h_20 {
	height: 20px;
}
.w_h_100 {
	height: 100px;
}
.w_h_200 {
	height: 200px;
}

.w_p_20 {
	padding: 20px;
}


.w_opacity_90
{
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.8;
}


/*进度条*/
.w_loading_small {
	background-image: url("../img/loading-small.gif");
	height: 20px;
	width: 240px;
	background-repeat: no-repeat;
}

.w_ul, .w_ullist {
	margin: 0px;
	padding: 0px;
}
.w_ul li {
	list-style-type: none;
	float: left;
}

.w_ullist li {
	list-style-type: none;
}

.w_regex_error
{
	border:solid 1px #b94a48 !important;
}



