/*通用定义样式*/
.w_display {
	display: none;
}


.w_none {
	display: none !important;
}

.w_clear,.w_c {
	clear: both;
}

.w_left,.w_fl{
	float:left;
}
.w_right,.w_fr
{
	float:right;
}





.w_h_40 {
	height: 40px;
}

.w_h_20 {
	height: 20px;
}
.w_h_100 {
	height: 100px;
}
.w_h_200 {
	height: 200px;
}



.w_ul,.w_ullist
{
	margin:0px;
	padding:0px;
}
.w_ul li
{
	list-style-type:none;
	float:left;
}

.w_ullist li
{
	list-style-type:none;
}



